html,
body {
    font-family: 'Arial', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    width: 100%;
}

h1,
h2 {
    text-align: center;
    padding: 0.5em;
}

section {
    margin: 0.5em auto;
}

p {
    box-sizing: border-box;
    font-size: 1.5em;
    padding: 1em;
    text-align: justify;
}

a {
    text-decoration: none;
}

#navbar-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navbar-list>li {
    align-items: stretch;
    font-size: 1.5em;
    display: block;
    text-align: center;
    width: 100%;
    background-color: rgb(204, 242, 255);
    border: 1px solid gold;
}

#navbar-list a {
    display: block;
    padding: 0.5em;
}

.active,
a:hover {
    background-color: #000;
    color: rgb(204, 242, 255)
}

.page-header,
.page-footer {
    width: 100%;
    height: 5em;
    background-color: #00131a;
}

#navbar {
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    transition: top 0.3s;
}

.section-content {
    width: 100%;
    background-color: rgba(204, 242, 255, 0.2);
}

.parallax-effect-1,
.parallax-effect-2,
.parallax-effect-3,
.parallax-effect-4 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.65;
}

.parallax-effect-1 {
    background-image: url('../images/stacy-marie-mLx1dc-AJ5k-unsplash.jpg');
    height: 20em;
}

.parallax-effect-2 {
    background-image: url('../images/kalen-emsley-Bkci_8qcdvQ-unsplash.jpg');
    height: 50em;
}

.parallax-effect-3 {
    background-image: url('../images/sebastian-unrau-sp-p7uuT0tw-unsplash.jpg');
    height: 50em;
}

.parallax-effect-4 {
    background-image: url('../images/alok-shenoy-5xYvAlKjxWY-unsplash.jpg');
    height: 40em;
}

/* Used as a guide for back-to-top https://getflywheel.com/layout/sticky-back-to-top-button-tutorial/*/
.back-to-top {
    position: fixed;
    box-sizing: border-box;
    bottom: 0;
    right: 0;
    cursor: pointer;
    display: block;
    width: 6em;
    height: 6em;
    border-radius: 50%;
    margin: 0 3em 3em 0;
    padding: 0.25em;
    transition: all .25s ease-in-out;
    padding: 1.5em;
    text-align: center;
}

.show {
    visibility: visible;
    opacity: 1;
}

.hide {
    visibility: hidden;
    opacity: 0;
}

@media screen and (min-width: 1026px) {

    #navbar-list {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}